.Table_buton table {
  margin-top: 3rem;
  color: black;
  border-collapse: collapse;
  background-color: white;
  width: 100%;
}

.Table_buton thead {
  background-color: rgba(9, 54, 67,1);
  color: whitesmoke;
  border-bottom: 5px solid cornflowerblue;
}

.Table_buton th, td {
  padding: .3rem;
  
}
.Table_buton tr:nth-child(even) {
  background-color: rgba(7, 200, 255,.3);
}
.Table_buton td a {
  color: brown;
}

.Table_buton tr:hover td{
  background-color: rgba(78, 200, 234,0.9);
  color: white;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .boxes button {
    position: relative;
    float: left;
    width: 25%;
    border: black 2px solid;
    font-size: 17px;
   }
  
  .boxes button:nth-of-type(1) {
    left: 75%;
  }
 
  .boxes button:nth-of-type(2) {
    left: 25%;
  }
 
  .boxes button:nth-of-type(3) {
    left: -25%;
  }
 
  .boxes button:nth-of-type(4) {
    left: -75%;
  }
}

